* , *::after , *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: monospace, sans-serif;
  height: auto;
}
.clearfix{
  clear: both;
}
.container{
  width: 1100px;
  margin: auto;
}
/* nav bar section */
.navbar{
  width: 100%;
  height: 50px;
  background-color: #360836;
}
.navbar ul{
  list-style-type: none;
  text-align: center;
  line-height: 50px;
}
.navbar ul li{
  display: inline-block;
  padding-left: 20px;
}
.navbar ul li a{
  color: #c45174;
  text-decoration: none;
  font-size: 20px;
}
.navbar ul li a.active{
  color: white;
}
/* header Section */
section.header{
  width: 100%;
  height: 600px;
  background-image: url(../images/cover.png);
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  position: relative;
}
section.header .header_top h1{
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}
section.header .header_top h3{
  font-size: 25px;
  letter-spacing: 10px;
  color: white;
  padding-bottom: 100px;
  padding-top: 20px;
}
section.header .header_center p{
  color: white;
  font-size: 28px;
  line-height: 1.5;

}
section.header .header_bollet ul{
  color:#ccc;
  font-size: 30px;
  text-align: center;
  margin-left: 52%;
}
section.header .header_bottom{
  position: absolute;
  bottom: 0;
  left: 40%;
  color: #fff;
  background-color: #c45174;
  width: 250px;
  height: 60px;
}
section.header .header_bottom p{
  font-size: 20px;
  margin-top: 17px;
}
section.header .header_bottom::after{
  content: "";
  border-top: 20px solid #c45174;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: relative;
  top: 55%;
}
/* images section */
section.image{
  width: 100%;
}
section.image .img{
  width: 25%;
  height: 252px;
  background-image: url(../images/image_1.jpg);
  background-size: cover;
  float: left;
}
section.image .img .over{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.5);
  /*opacity:0; */
  visibility: hidden;
}
section.image .img:hover .over{
  /*opacity:1; */
  visibility: visible;
}
section.image .i1{ background-image: url(../images/image_1.jpg);}
section.image .i2{ background-image: url(../images/image_2.jpg);}
section.image .i3{ background-image: url(../images/image_3.jpg);}
section.image .i4{ background-image: url(../images/image_4.jpg);}
section.image .i5{ background-image: url(../images/image_5.jpg);}
section.image .i6{ background-image: url(../images/image_6.jpg);}
section.image .i7{ background-image: url(../images/image_7.jpg);}
section.image .i8{ background-image: url(../images/image_8.jpg);}
section.image .i9{ background-image: url(../images/image_9.jpg);}
section.image .i10{ background-image: url(../images/image_10.jpg);}
section.image .i11{ background-image: url(../images/image_11.jpg);}
section.image .i12{ background-image: url(../images/image_12.jpg);}
/* Team Section */
.team{
  width: 100%;
  height: 1350px;
  position: relative;
  text-align: center;
  background-color: #ccc;

}
.team .team_head{
  position: absolute;
  top: 0;
  background: #c45174;
  width: 100%;
  height: 50px;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 50px;
}
.team .team_head::after{
  content: "";
  border-top: 20px solid #c45174;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: relative;
  left: -13%;
  top: 120%;
}
.team{

}
.team .team_image{
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
}
.team .team_image img{
  border: 1px solid #eee;

}
.team h2{
  padding-top: 100px;
  text-align: center;
  color: red;
  font-size: 40px;
  margin-bottom: 100px;
}
.team .team_image h3{
  text-align: center;
  font-size: 30px;
  color: red;
}
.team .team_image h4{
  text-align: center;
  font-size: 20px;
}
.team button{
  margin-top: 30px;
  text-align: center;
  width: 200px;
  height: 40px;
  color: white ;
  background-color: black;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
/* services section */
.service{
  width: 100%;
  height: 700px;;
  background-image: url(../images/Cover_2.jpg);
  background-size: cover;
  padding: 7%;
  opacity: 0.6;
  text-align: center;
}
.service .content{
  width: 400px;
  display: inline-block;
  color: #fff;
  margin-left: 40px;
  margin-top: 40px;
}
.service .content h2{
  color: white ;
  font-size: 30px;
  padding-bottom: 20px;
  text-align: left;
}
.service .content p{
  color: #ddd;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.service button{
  margin-top: 60px;
  margin-left: auto;
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: white;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
/* footer section */
.footer_content{
  width: 100%;
  height: 60px;
  background-color: #eee;
  text-align: center;
  line-height: 60px;
  font-size: 21px;
  font-weight: bold;
}
/* *****************contact page *************** */
/* form */
.contact{
  width: 100%;
  height: 650px;
  background-image: url(../images/coverPage2.PNG);
  background-size: cover;
  text-align: center;
  margin-top: 20px;
}
.contact> h2{
  width: 100%;
  font-size: 40px;
  margin-bottom: 20px;
}
.contact p{
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 0;
}
.contact .contact_form .form_caption{
  font-size: 40px;
  font-weight: bold;
  color:#c45174;
  margin-left: -40%;
  margin-bottom: 20px;
}
.contact .contact_form{
  margin-left: 30%;
  margin-top: 20px;
}
.contact .contact_form input{
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
  font-size: 18px;
  outline: 0;
  border: 0;
  border-radius: 5px;
}
.contact .contact_form textarea{
  display: block;
  width: 500px;
  font-size: 18px;
  padding:10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
}
.contact .contact_form input:hover,textarea:hover{
  background-color: #eee;
}
.contact .contact_form button{
  width: 100px;
  height: 30px;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10%;
  cursor: pointer;
}
.contact .contact_form button:hover{
  border-left: 2px solid #000;
}
/* studio section */
section.studio{
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #ccc;
  padding-top: 20px;
}
section.studio .studio_top h2{
  font-size: 40px;
  font-weight: bold;
  color: #c45174;
  margin-bottom: 50px;
}
section.studio .studio_top p{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
section.studio .studio_bottom h2{
  font-size: 40px;
  font-weight: bold;
  color: #c45174;
  margin-bottom: 20px;
}
section.studio .studio_bottom p{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.studio .pics{
  padding-left: 30px;
  margin-top: 20px;
}
.studio .pics img{
  cursor: pointer;
}
/* start Online Books section */
.book{
  width: 100%;
  height: 650px;
  background-image: url(../images/coverPage2.PNG);
  background-size: cover;
  text-align: center;
  padding-top: 30px;
}
.book .book_container{
  width: 800px;
  height: 500px;
  background-color: white;
  text-align: center;
  margin-left: 15%;
}
.book .book_container .book_img{
  padding-top: 40px;
  float: left;
  padding-left: 30px;
}
.book .book_container .book_img img{
  width: 400px;
  height: 400px;

}
.book .book_container .book_p{
  padding-top: 150px;

}
.book .book_container .book_p p{
  font-size: 30px;
  padding-bottom: 30px;
}
.book .book_container .book_p button{
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 10px;
}
